extends layout

block content
  - for (var i = 0; i < 10; i++)
    div(class="o-grid-container")
      div(class="o-grid-row")
        div(data-o-grid-colspan="12")
          div(class="o-teaser o-teaser--large" data-o-component="o-teaser")
            div(class="o-teaser__content")
              div(class="o-teaser__meta")= World
              h2(class="o-teaser__heading" id="headlines-teaser-title")= data[i].title.title
              p(class="o-teaser__standfirst")= data[i].summary.excerpt
